#! /bin/sh

set -e

. /usr/share/debconf/confmodule

db_title "Samba Server"

#
# See if we have an smb.conf. If not, we ask for realm and domain
# so we can generate a new one.
#
if [ ! -f /etc/samba/smb.conf ]; then
	db_input medium samba-common/realm || true
	db_go || true

	db_input medium samba-common/domain || true
	db_go || true
fi

