#! /bin/sh

set -e

. /usr/share/debconf/confmodule

db_title "Samba Server"

# See if we're upgrading from Samba 3
if [ "$1" = "configure" -a ! -z "$2" ]; then
	if dpkg --compare-versions "$2" lt "3.9.0"; then
		db_input medium samba/upgrade-from-v3 || true
		db_go || true

		db_get samba/upgrade-from-v3
		if [ "$RET" = "true" ]; then
			exit
		fi
	fi
fi

db_input medium samba/setup-pdc || true
db_go || true

db_get samba/setup-pdc

if [ "$RET" = "true" ]; then
	db_input medium samba/realm || true
	db_go || true

	db_input medium samba/domain || true
	db_go || true

	db_input medium samba/password || true
	db_go || true
	
	db_input medium samba/done || true
	db_go || true
fi

