#! /bin/sh

set -e

. /usr/share/debconf/confmodule

db_title "Samba Server"

if [ "$1" = "configure" ]; then
	#
	# Are we upgrading from Samba 3, and already have a configuration file?
	# If so, the user might want to try the automatic upgrading.
	#
	if dpkg --compare-versions "$2" lt "3.9.0"; then
		if [ -f /etc/samba/smb.conf ]; then
			db_input medium samba/upgrade-from-v3 || true
			db_go || true
		fi
	fi

	#
	# First-time installation, perhaps? If so, the user could want to
	# set up Samba as a PDC, if the other parameters are in place.
	#
	db_get samba/realm || true
	REALM="$RET"

	db_get samba/domain || true
	DOMAIN="$RET"

	if [ -z "$2" -a -n "$REALM" -a -n "$DOMAIN" ]; then
		db_input medium samba/setup-pdc || true
		db_go || true
	fi
fi
