#/bin/sh -e
#
# $Id$
#

# Source debconf library.
. /usr/share/debconf/confmodule

db_title "Samba Server"

# Babysit users who don't read README.Debian
db_input medium samba/log_files_moved || true
db_go

db_input medium samba/run_mode || true
db_go

# We vary the priority of the next question depending on whether
#	/etc/samba/smbpasswd already exists...
if [ -f /etc/samba/smbpasswd ]; then
	PRIORITY="low"
else
	PRIORITY="medium"
fi

db_input $PRIORITY samba/generate_smbpasswd || true
db_go
